{% extends "main/base.html" %}

{% block title %}Welcome to Simon-lib{% endblock %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Simon-lib</h1>
                <p>Welcome to Simon-lib</p>

            </div>
        </div>
    </div>

{% endblock %}



